                    </div>
                </div>
            </div>
        </div>
    </div>
        <div class="social-icons">
            <ul class="list-unstyled text-center mb-0">
                <li class="list-unstyled-item">
                    <a href="https://github.com/LeonardoCamargo31/convert-money">
                        <i class="fab fa-github"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/mask.min.js"></script>
    <script src="/js/main.js"></script>
</body>
</html>