<%- include('header')%>

<form id="form" action="/cotacao" method="GET">
    <div class="form-group form-control-cotacao">
        <label>Cotação do dolar</label>
        <input type="hidden" name="cotacao" id="cotacao" value="<%= cotacao%>" />
        <input type="text" class="form-control" placeholder="Cotação dolar" value="<%= cotacao%>" disabled />
        <div class="invalid-feedback"></div>
    </div>
    <div class="form-group form-control-quantidade">
        <label>Quantidade de dolares</label>
        <input type="text" class="form-control money" id="quantidade" name="quantidade" placeholder="Quantidade de dolares"
            autocomplete="off" />
        <div class="invalid-feedback"></div>
    </div>
    <div class="form-input">
        <button id="btn" class="btn btn-secondary" type="button">Converter</button>
    </div>
</form>


<%- include('footer')%>