<%- include('header')%>
<form method="GET" action="/cotacao">
    <div class="form-input">
        <input type="text" name="cotacao" placeholder="Cotação dolar" value="<%= cotacao%>"/>
    </div>
    <div class="form-input">
        <input type="text" name="quantidade" placeholder="Quantidade de dolares" />
    </div>
    <div class="form-input">
        <button type="submit">Converter</button>
    </div>
</form>
<%- include('footer')%>