html {
  height: 100%;
}

body {
  color: #2f3439;
  height: 100%;
  min-height: 35rem;
  position: relative;
  font-family: "Source Sans Pro";
  font-size: 1.3rem;
  font-weight: 300;
  background-image: url("/img/cover.jpg");
  background-size: cover;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Merriweather";
  font-weight: 700;
}

.voltar{
  cursor: pointer;
  color: #2f3439;
  opacity: 0.8;
  font-size: 1.3rem;
  transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
}

.voltar:hover{
  text-decoration: none;
  color: #2f3439;
  opacity: 1;
  font-size: 1.3rem;
  transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #ff5958;
  opacity: 0.6;
  z-index: 1;
}

.masthead {
  position: relative;
  overflow: hidden;
  padding-bottom: 3rem;
  z-index: 2;
}
.mb-5, .my-5{
  margin-bottom: 2rem !important;
}


.masthead-content img{
  max-width: 100%;
  margin-bottom: 1rem!important;
}

.cotacao,.erro{
  display: none;
}

.masthead .masthead-bg {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  min-height: 35rem;
  height: 100%;
  background-color: #fff;
  -webkit-transform: skewY(4deg);
  transform: skewY(4deg);
  -webkit-transform-origin: bottom right;
  transform-origin: bottom right;
}

.masthead .masthead-content h1 {
  font-size: 2.7rem;
}

.masthead .masthead-content p {
  font-size: 1.2rem;
}

.masthead .masthead-content p strong {
  font-weight: 700;
}

.masthead .masthead-content input {
  height: auto;
  font-size: 1rem;
  padding: 1rem;
  font-weight: 300 !important;
}

.masthead .masthead-content input:focus{
  outline: none;
  border-color: #ced4da;
  box-shadow: none;
}

.invalid-feedback {
  display: none;
  width: 100%;
  margin-top: .25rem;
  color: #dc3545;
}

.error .invalid-feedback {
  display: block
}

.error .form-control{
  border-color: #dc3545;
}

.btn-secondary {
  width: 100%;
  font-size: 0.8rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 1rem;
  background-color: #ff5958;
  border-color: #ff5958;
}

.btn-secondary:active,
.btn-secondary:focus,
.btn-secondary:hover {
  background-color: #dc3545 !important;
  border-color: #dc3545 !important;
  outline: none;
  box-shadow: none;
}


@media (min-width: 768px) {
  .masthead {
    height: 100%;
    min-height: 0;
    width: 40.5rem;
    padding-bottom: 0;
  }
  .masthead .masthead-bg {
    min-height: 0;
    -webkit-transform: skewX(-8deg);
    transform: skewX(-8deg);
    -webkit-transform-origin: top right;
    transform-origin: top right;
  }
  .masthead .masthead-content {
    padding-left: 3rem;
    padding-right: 10rem;
  }
  .masthead .masthead-content p {
    font-size: 1.3rem;
  }
}


@media (max-width: 768px) {
  .masthead{
    height: 100vh;
  }
  .masthead .masthead-bg{
    transform:none;
  }
}